.hero {
  height: 500px;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 60px;
}

.hero p {
  margin: 20px 0;
  font-size: 22px;
}

.hero button {
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  background: orange;
  color: white;
  font-size: 18px;
}